{% extends "baseLayout.html" %}
{% load static %}

{% block title %}
Les Tâches
{% endblock %}

{% block styles %}
    {{ block.super }}
    <script src="https://kit.fontawesome.com/9dc75473d8.js" crossorigin="anonymous"></script>

{% endblock %}

{% block content %}
<h1>Liste des tâches</h1>

{% for tache in objects %}
<div class="row">
    <div class="col text-success">{{tache.name}}</div>
    <div class="col">{{tache.created_date}}</div>
    <div class="col">{{tache.colored_due_date}}</div>
    <div class="col">
        {% if tache.closed %}
        <i class="fas fa-lock"></i>
        {% else %}
        <i class="fas fa-lock-open"></i>
        {% endif %}
        <i class="fa-solid fa-door-closed fa-bounce"></i>
    </div>
    <a href="{% url 'lesTaches:details' tache.id %}">Voir détail</a>
</div>
{% endfor %}

{% endblock %}